@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400&display=swap");
@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,700";
body {
  font-family: "Jost", sans-serif;
}
/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #6d6d6d;
}
.header {
  position: sticky;
  top: 0;
  z-index: 100;
}
.header__container {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  .toggle-mode {
    display: block;
    opacity: 0;
    height: 4px;
  }

  .toggle-mode-label {
    position: relative;
    width: 47px;
    height: 21px;
    display: inline-block;
    background: #2c2cf1;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    &::after {
      content: "";
      position: absolute;
      left: 2px;
      top: 2px;
      width: 17px;
      height: 17px;
      background: #fff;
      border-radius: 50%;
      box-shadow: 1px 3px 6px #666666;
    }
  }
  .header__nav {
    display: none;
  }
  .header__wrapper-mobile {
    display: flex;
    justify-content: space-between;
  }
  .header__logo-wrapper {
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .header__hamburger-wrapper {
    display: flex;
    .hamburger-btn {
      padding: 0;
      background: none;
      border: none;
      cursor: pointer;
    }
    .hamburger-inner {
      width: 30px;
      height: 2px;
      background-color: #fff;
      margin: 6px 0;
    }
  }
  .header__logo-link {
    text-decoration: none;
    color: #fff;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  .header__nav-list {
    margin-top: 1rem;
    line-height: 3;
    padding-left: 0;
    .toggle-link {
      margin-top: -3px;
    }
    .header__nav-list-item {
      list-style-type: none;
      a {
        &:hover {
          color: orange;
        }
      }
      .header__nav-link {
        text-decoration: none;
        color: #fff;
      }
    }
  }
}
.toggle-mode:checked + .toggle-mode-label {
  background: #001399;
}

.toggle-mode:checked + .toggle-mode-label:after {
  left: auto;
  right: 2px;
}
main {
  section {
    height: 100vh;
    background: rgb(236, 236, 236);
  }
}
@media screen and (min-width: 1024px) {
  .header__container {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    .header__hamburger-wrapper {
      display: none;
    }
    .header__nav {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .header__nav-list {
      line-height: inherit;
      display: flex;
      .header__nav-list-item {
        margin-right: 2rem;
        &:nth-child(4) {
          margin-right: 0;
        }
      }
    }
  }
}
@media (max-width: 1021px) {
  .header__container {
    padding: 1rem;
  }
}
.landing-container {
  display: flex;
  justify-content: center;
  padding: 0px 55px;
  .left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    animation-delay: 0.5s;
    animation-name: fadeInUp;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    text-align: center;
    margin-top: 140px;
  }
  .right-cotainer {
    margin-right: -21px;
    animation-name: fadeInDown;
    animation-delay: 0.5s;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@media (max-width: 1136px) {
  .landing-container {
    flex-direction: column;
    align-items: center;
  }
  .left-container {
    margin-top: 53px !important;
  }
}
@media (max-width: 639px) {
  .landing-container {
    padding: 0 34px;
    .right-cotainer {
      margin-right: -21px;
      img {
        width: 100%;
      }
    }
  }
}
.active {
  color: orange !important;
}

// Login page
.login {
  width: 320px;
  height: 100%;
  border: 1px solid #ccc;
  background: url(https://media4.giphy.com/media/BHNfhgU63qrks/giphy.gif) center
    center no-repeat;
  background-size: cover;
  margin: 30px auto;
  animation-name: fadeInRight;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  border-radius: 20px;
  .radio-label {
    cursor: pointer;
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.login .form {
  width: 100%;
  height: 100%;
  padding: 15px 25px;
}
.login .form h2 {
  color: #fff;
  text-align: center;
  font-weight: normal;
  font-size: 18px;
  margin-top: 60px;
  margin-bottom: 60px;
}
.login .form input {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0 15px;
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
}
.login .form input:focus {
  border: 1px solid rgba(255, 255, 255, 0.8);
  outline: none;
}
.eye-icon-container {
  display: flex;
  justify-content: end;
  svg {
    position: relative;
    top: -26px;
    margin-right: 11px;
    cursor: pointer;
  }
}
::-webkit-input-placeholder {
  color: #ddd;
}
.login .form input.submit {
  background: rgba(255, 255, 255, 0.9);
  color: #fff;
  font-size: 15px;
  margin-top: 40px;
  font-weight: bold;
}
.dont-have-account {
  color: #fff;
  a {
    color: orange;
  }
}
.sign-up {
  height: 32px !important;
}
.password-input {
  padding-right: 30px !important;
}

.radio {
  &-input {
    visibility: hidden;
  }

  &-label {
    position: relative;
    padding-left: 35px;
    color: #fff;
    display: block;
    &:after {
      content: "";
      display: block;
      width: 12px;
      height: 12px;
      position: absolute;
      left: 4px;
      top: 4px;
      border-radius: 50%;
    }
  }

  &-border {
    width: 20px;
    height: 20px;
    display: inline-block;
    outline: solid 3px #d449e3;
    border-radius: 50%;
    position: absolute;
    left: 0px;
    top: 0px;
  }
  &-input:checked + &-label:after {
    transition: all 0.5s;
    background-color: #ffffff;
  }
}
// Leaves
.table-wrapper-element {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.rwd-table th {
  display: none;
}
.rwd-table td {
  display: block;
}
.rwd-table td:first-child {
  padding-top: 0.5em;
}
.rwd-table td:last-child {
  padding-bottom: 0.5em;
}
.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 9.5em;
  display: inline-block;
}

// Error page

.page_404 {
  padding: 35px 0;
  background: #fff;
  font-family: "Arvo", serif;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}
.contant_box_404 {
  margin-top: -50px;
}

@media (min-width: 480px) {
  .rwd-table td:before {
    display: none;
  }
}
.rwd-table th,
.rwd-table td {
  text-align: left;
}
@media (min-width: 480px) {
  .rwd-table th,
  .rwd-table td {
    display: table-cell;
    padding: 0.25em 0.5em;
  }
  .rwd-table th:first-child,
  .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child,
  .rwd-table td:last-child {
    padding-right: 0;
  }
}
.rwd-table {
  background: #34495e;
  color: #fff;
  border-radius: 0.4em;
  overflow: hidden;
  animation-name: fadeInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.rwd-table tr {
  border-color: #46627f;
  text-align: center !important;
}
.rwd-table th,
.rwd-table td {
  margin: 0.5em 1em;
  text-align: center !important;
}
@media (min-width: 480px) {
  .rwd-table th,
  .rwd-table td {
    padding: 1em !important;
  }
}
.rwd-table th,
.rwd-table td:before {
  color: #dd5;
}

.error-notice {
  margin: 5px;
  position: absolute;
  .onerror {
    max-width: 300px;
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
  }
  .danger {
    border-left-color: #d9534f;
    background-color: rgb(207 82 78 / 47%);
    strong {
      color: #d9534f;
    }
  }
  .success {
    border-left-color: #2b542c;
    background-color: rgba(43, 84, 44, 0.1);
    strong {
      color: #2b542c;
    }
  }
}
.action-button {
  svg {
    width: 32px;
    height: 24px;
    cursor: pointer;
  }
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;
  .loader {
    position: relative;
    margin-left: 92px;
    span {
      position: absolute;
      width: 6px;
      height: 90px;
      margin-top: -45px;
      border-radius: 10px;
      background-color: #60b8ba;
      animation: animate 0.8s infinite;
      animation-direction: alternate-reverse;
      &:nth-child(1) {
        margin-left: 0px;
      }
      &:nth-child(2) {
        margin-left: -14px;
        animation-delay: 0.1s;
      }
      &:nth-child(3) {
        margin-left: -28px;
        animation-delay: 0.2s;
      }
      &:nth-child(4) {
        margin-left: -42px;
        animation-delay: 0.3s;
      }
      &:nth-child(5) {
        margin-left: -56px;
        animation-delay: 0.4s;
      }
      &:nth-child(6) {
        margin-left: -70px;
        animation-delay: 0.5s;
      }
      &:nth-child(7) {
        margin-left: -84px;
        animation-delay: 0.6s;
      }
      &:nth-child(8) {
        margin-left: -98px;
        animation-delay: 0.7s;
      }
      @keyframes animate {
        0% {
          height: 5px;
          margin-top: 0;
          transform: rotate(40deg);
        }
        100% {
          height: 90px;
          transform: rotate(0deg);
        }
      }
    }
  }
}
.card-container {
  display: none;
  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    .card {
      width: 400px;
      animation-name: fadeIn;
      animation-timing-function: ease-in-out;
      animation-duration: 3s;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      margin: 10px 0px;
      padding: 30px;
      height: 224px;
      &:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
          0 10px 10px rgba(0, 0, 0, 0.22);
      }
    }
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@media (max-width: 745px) {
  .card-container {
    display: block;
  }
  .table-wrapper-element {
    display: none;
  }
}
.containerss {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes dribble{
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(130px);
  }
}

.ball{
  animation: dribble 0.3s 0s infinite alternate ease-in-out forwards;
  position: absolute;
  top: 50%;
}